
<main role="main">
  <section class="container">
    <div class="owl-carousel">
      <% @carousels.each do |carousel| %>
      <div><%= image_tag(carousel.image, alt:carousel.name) %></div>
      <% end %>
    </div>
  </section>

  <%= render('shared/testimonials') %>

  <%= render('shared/call_us') %>
</main>

