
<main role="main">
  <section class="container">
    <div class="owl-carousel">
      <% @carousels.each do |carousel| %>
        <div><%= image_tag(carousel.image, alt: carousel.name, 'data-pin-no-hover' => true) %></div>
      <% end %>
    </div>
  </section>

  <%= render('shared/testimonials') %>
  <%= render('shared/newsletter') %>
  <%= render('shared/call_us') %>
</main>

