<h1>Welcome to Balmain &amp; Balmain</h1>
<nav>
  <ul>
    <li><%= link_to('Sofas', sofas_path) %></li>
    <li><%= link_to('Chairs', chairs_path) %></li>
    <li><%= link_to('Arm Chairs', arm_chairs_path) %></li>
  </ul>
</nav>

