/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/* line 2, /Users/emson/Dropbox/devel/rails/furniture2/app/assets/stylesheets/ie/style-ie.css.scss */
.social a {
  width: 264px;
  height: 68px;
  display: block;
  float: left;
  background: url("/assets/social-ie.png") no-repeat;
  text-indent: 100px;
  overflow: hidden;
  background-size: cover;
  margin-right: 8px;
}

/* line 3, /Users/emson/Dropbox/devel/rails/furniture2/app/assets/stylesheets/ie/style-ie.css.scss */
.social .fb {
  width: 25px;
  height: 25px;
  background-position: 0px 0px;
}

/* line 4, /Users/emson/Dropbox/devel/rails/furniture2/app/assets/stylesheets/ie/style-ie.css.scss */
.social .tw {
  width: 25px;
  height: 25px;
  background-position: -36px 0px;
}

/* line 5, /Users/emson/Dropbox/devel/rails/furniture2/app/assets/stylesheets/ie/style-ie.css.scss */
.social .pi {
  width: 25px;
  height: 25px;
  background-position: -72px 0px;
}
