<% if @testimonials && !@testimonials.empty? %>
<div class="testimonials">
<% @testimonials.each do |testimonial| %>
  <blockquote class="style1"><span><%= testimonial.comment %></span>
<%= testimonial.author %>, <%= testimonial.location %></blockquote>
<% end %>
</div>
<% end %>

