

<%= render('shared/header') %>

<main role="main">
  <section class="container inpage">
    <div class='clip'><%= image_tag(@primary_img, { id:'catimg', alt:'' }) %></div>
    <ul id='linklist'>
      <% @sofas.each do |sofa| %>
        <li><%= link_to(sofa.name, sofa_path(sofa), { :'data-src' => asset_path(sofa.img) } ) %></li>
      <% end %>
    </ul>
    </div>
  </section>
  <p class='cta'><span>Call us now:</span> 01672 870 414</p>
</main>


